<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>

        @keyframes shrink-x {
            from {
              transform: scaleX(1);
            }
            to {
              transform: scaleX(0);
            }
          }

        @keyframes grow-x {
            from {
              transform: scaleX(0);
            }
            to {
              transform: scaleX(1);
            }
          }
        
        {{transitionGroup('para')}} {
            animation: 0.25s linear both shrink-x;
          }
        
        {{transitionGroup('para', 'new')}} {
            animation: 0.25s 0.25s linear both grow-x;
        }

        {{transitionGroup('para')}},
        {{transitionGroup('para', 'new')}} {
            transform-origin: left center;

        }
    </style>

    <main>
        {{{await $slots.main()}}}
    </main>

    <script>
        function handleLinks() {
            document.querySelectorAll('a').forEach(a => {
                console.log(a)
                a.addEventListener('click', e => {
                    e.preventDefault()
                    if (!document.startViewTransition()) {
                        alert('Transition not supported')
                        return
                    }
                    document.startViewTransition(async () => {
                        const res = await fetch(a.href)
                        const html = await res.text()
                        const parser = new DOMParser()
                        const doc = parser.parseFromString(html, 'text/html')
                        document.querySelector('main').innerHTML = doc.querySelector('main').innerHTML
                        document.querySelectorAll("main > script").forEach((e) => {
                            const script = document.createElement('script')
                            script.innerHTML = e.innerHTML
                            e.parentNode.replaceChild(script, e)
                        })
                        history.pushState({}, '', a.href)
                        handleLinks()
                    })
                })
            })
        }
        document.onload = handleLinks()
    </script>
</body>

</html>